body {
    background: #fafafa;
    background-image: url('img/cream_dust.png');
}

.main-view {
    margin-top: 1.5rem;
    background: #ffffff;
    padding: 2rem 2.5rem 0;
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.home {
    position: relative;
}

.intro {
    padding: 0 0 0 7% !important;
}

.home.ui.grid > .column.featured-image {
    position: relative;
    bottom: 0;
    margin-bottom: -5px;
    vertical-align: bottom;
    width: 50%;
}

.home.ui.grid > .column.featured-image img {
    margin: 0 15%;
    width: 70%;
    bottom: 0;
    position: relative;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}



h2 {
    margin: 0 0 .75em 0;
}

h3 {
    margin: 0 0 .5em 0;
}

h4 {
    margin: 0 0 1em;
}

p, li {
    line-height: 1.5em;
}

li {
    margin-top: .25em;
    margin-bottom: .25em;
}

.portfolio .subcategory {
    margin: 0 0 1em 0 !important;
}

.portfolio .img,
.blog .img {
    max-width: 100%;
    border-radius: 4px;

    /*width: 100%;*/
    /*height: 32em;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*border-radius: 4px;*/
    /*box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);*/
}

.portfolio div.img,
.blog div.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 32em;
}

.portfolio img.img,
.blog img.img {
    max-height: 32em;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
}


.blog div.img {
    height: 18em;
}

.blog img.img {
    max-height: 18em;
}

/*.portfolio .one .img {*/
    /*float: left;*/
    /*width: 55%;*/
    /*height: 18em;*/
/*}*/

.portfolio img.img-right,
.blog img.img-right{
    float: right;
    padding: 0 0 .5em 1em;
}

.portfolio img.img-left,
.blog img.img-left {
    float: left;
    padding: 0 1em .5em 0;
}

.portfolio h3.ui.header {
    margin-bottom: .25em;
}

.portfolio-item {
    margin-bottom: 26px !important;
}

.portfolio-item .column:first-child {
    margin-bottom: .25em;
}
.portfolio-item .column {
    margin-top: 0;
}

.resume .basics {
    margin-bottom: -1rem;
}

.resume > img {
    right: .25rem;
    max-width: 8rem;
    position: absolute;
    padding: 0;
    margin-top: 2.25rem;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
}

.item-description p br {
    line-height: 2em;
}

a, div:not(.menu) a i {
    color: #225f9b;
    text-decoration: none;
}
a:hover, div:not(.menu) a:hover i {
    color: #3491dc;
}

a.selected {
    font-weight: bold;
}

a.selected:hover {
}

a:not([href]) {
    color: #763900;
    border-bottom: 1px #763900 dotted;
    cursor: help;
}

a:not([href]):hover {
    color: #974900;
    border-bottom: 1px #974900 dotted;
}

blockquote {
    border-left: 5px solid #CCC;
    border-radius: 0 4px 4px 0;
    padding: .25em 1.75em;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}

hr {
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin: 1.5em 2em;
}

.menu.ui .item.active,
.menu.ui .item.active * {
    color: #225f9b !important;
}

.menu.ui .item:hover,
.menu.ui .item:hover * {
    color: #3491dc !important;
}

.resume h2.ui.header {
    font-size: 200%;
    margin-top: .33em;
    margin-bottom: .25em;
    color: #666;
}

.ui.header {
    font-weight: 500;
}

.resume h3, .resume h3.header {
    color: #333;
    font-weight: 500;
    font-size: 130%;
    margin-bottom: .33em;
}


.resume div:last-child {
    margin-bottom: .5rem;
}

.resume .basics {
    margin-bottom: -1rem;
}

.intro * {
    text-align: center;
}

.intro {
    margin-top: 3vw !important;
}

.portfolio ul {
    padding-left: 1.5em;
}

.portfolio .category h2.ui.header {
    font-style: italic;
    margin-top: .5em;
    font-weight: 200;
}

.portfolio .category > h2.ui.header:first-of-type {
    font-style: normal;
}

.portfolio h2.ui.header {
    padding-top: 0 !important;
}

@media screen and (max-width: 1280px) {
    .portfolio div.categories > ul {
        padding-left: 0;
    }

    .portfolio li.category {
        margin-right: 1em;
        display: inline-block;
        float: left;
    }
}

@media screen and (max-width: 1150px) {
    .intro {
        margin-top: 1vw !important;
    }
}

@media screen and (max-width: 999px) {
    .intro {
        margin-top: 0 !important;
    }
    .portfolio .ui.stackable.grid > div.categories.left.floated.column:first-child {
        margin-top: -.25em !important;
        /*width: 100% !important;*/
        /*float: left !important;*/

        width: 100% !important;
        margin-bottom: .25em !important;
        padding-right: 1em;
    }

    .portfolio h2.ui.header {
        margin-bottom: 0.5em;
    }

    .ui.stackable.grid.portfolio-item {
        margin-bottom: 1rem !important;
    }

    .resume .basics {
        margin-bottom: 0 !important;
    }

    .resume .profiles {
        margin-top: 0 !important;
    }

    .intro {
        padding: 0 5% !important;
    }
}

@media only screen and (max-width: 767px) {
    .portfolio .ui.stackable.grid > div.categories.column:first-child {
        width: 100% !important;
        margin-bottom: 0em !important;
    }

    .ui.stackable.grid.portfolio-item {
        margin-bottom: 3rem !important;
    }

    .portfolio .portfolio-item .nine.wide.column {
        padding-top: 0 !important;
    }
    .menu i {
        display: none;
    }

    .resume > img {
        right: 0;
        max-width: 8rem;
        position: relative;
        margin: 1rem 0 0 0;
    }
    .ui.grid > .column.tags {
        margin: 0 0 1.5rem 0 !important;
        padding: 0 !important;
    }
    .post.ui.grid > .column.tags {
        margin: 0 0 2rem 0 !important;
        padding-top: 1rem !important;
    }

    .resume div:last-child {
        margin-bottom: .75rem;
    }
}
