<div class="sixteen wide column grid blog">
    <h1 class="ui header">Blog</h1>
    <div class="ui three column doubling grid">
        <div ng-repeat="post in data | orderByDate:'datePublished':true" class="column">
            <h3 class="ui header"><a href="#/blog/{{ post.shortName }}">{{ post.title }}</a></h3>
            <p style="font-style: italic;">{{ post.datePublished | asDate | date:'MMMM dd, yyyy' }}</p>
            <a href="#/blog/{{ post.shortName }}">
                <div style="background-image: url('img/blog/{{post.shortName}}.jpg')" alt="{{post.title}}" class="img"/>
            </a>
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>