<div class="ui grid two doubling column home">
    <div class="column intro">
        <h1 class="ui header" ng-bind="data.headline"></h1>
        <h2 class="ui header" style="font-style: italic; font-weight: 600; color: #D95C5C; margin-top: 0;" ng-bind="data.subheading"></h2>
        <div ng-bind-html="data.message"></div>
        <!-- <a href="mailto:joshua@huttj.com">
            <div class="ui animated fade button primary" style="margin: 1em 25%; width: 50%;">
                <div class="visible content" style="color: #fff" ng-bind="data.button"></div>
                <div class="hidden content" style="color: #fff" ng-bind="data.buttonHover"></div>
            </div>
        </a> -->
        <a href="https://interface.my/D1D21B2B" style="width: 100%; display: block; margin-top: 16px;">
            <img src="https://interface.my/i/5d14815c9ad3700600000001" style="cursor:pointer;width:100%;max-width:400px;margin:auto;"/>
        </a>
    </div>
    <div class="column featured-image">
        <img ng-src="{{ data.picture }}" alt=""/>
    </div>
</div>
