<div class="portfolio">
    <h1 class="ui header">Portfolio</h1>

   <!--For each category-->
   <div class="ui stackable grid">

       <div class="three wide column categories floated left">
           <h3 class="ui header" style="margin-bottom: -.25em;">Categories <sup><a href="#!/portfolio" ng-show="'' | tagSet">[X]</a></sup></h3>
           <ul>
               <li ng-repeat="category in data" class="category">
                 <a href="#!/portfolio?category={{category.name|encodeUri}}" class="{{ [category.name, 'category'] | isSelected }}" ng-bind="category.name"></a>
                   <ul>
                       <li ng-repeat="subcategory in category.data"><a href="#!/portfolio?subcategory={{subcategory.name|encodeUri}}" class="{{ [subcategory.name, 'subcategory'] | isSelected }}" ng-bind="subcategory.name"></a></li>
                   </ul>
               </li>
           </ul>
       </div>

       <div class="thirteen wide column floated left">
           <div ng-repeat="category in data | portfolioCategoryFilter" class="category">

               <!--Category name-->
               <h2 class="ui header" style="margin: 0 0 .5em 0; font-weight: 500; font-size: 1.9rem" ng-bind="category.name"></h2>

               <!--if subcategory exists-->
               <div class="subcategory" ng-repeat="subcategory in category.data | portfolioSubcategoryFilter"> <!--ng-if="category.data[0].type == 'subcategory'"-->

                   <div class="row">
                       <div class="column">
                           <h2 class="ui header" ng-bind="subcategory.name"></h2>
                       </div>
                   </div>

                   <div ng-repeat="item in subcategory.data" class="ui stackable grid portfolio-item">

                       <div class="seven wide column">
                           <h3 class="ui header"><a href="{{item.link}}" ng-bind="item.name"></a></h3>
                           <h4 style="font-style: italic;"><span ng-bind="item.dateStarted ? item.dateStarted + ' -' : ''"></span> <span ng-bind="item.dateCompleted"></span></h4>
                           <div ng-bind-html="item.description | toMarkdown" class="item-description"></div>
                       </div>
                       <div class="nine wide column">
                           <a href="{{item.link}}">
                               <!--<div class="img" ng-if="item.picture" style="background-image: url('img/portfolio/{{ item.picture }}')">-->
                               <img ng-src="img/portfolio/{{ item.picture }}" alt="" class="img"/>
                               <!--</div>-->
                           </a>
                       </div>

                   </div>

               </div>

               <!--otherwise, get straight into items-->
               <!--<div class="ui two column doubling grid portfolio-item" ng-repeat="item in category.data"-->
                    <!--ng-if="category.data[0].type == 'item'">-->
                   <!--<div class="column">-->
                       <!--<h3 class="ui header"><a href="{{item.link}}">{{ item.name }}</a></h3>-->
                       <!--<h4 style="font-style: italic;">{{ item.dateStarted ? item.dateStarted + ' -' : ''}} {{-->
                           <!--item.dateCompleted }}</h4>-->

                       <!--<div ng-bind-html="item.description | toMarkdown" class="item-description"></div>-->
                   <!--</div>-->
                   <!--<div class="column">-->
                       <!--<a href="{{item.link}}">-->
                           <!--<div class="img" ng-if="item.picture"-->
                                <!--style="background-image: url('img/portfolio/{{ item.picture }}')">-->
                               <!--<!--<img ng-src="img/portfolio/{{ item.picture }}" alt="" class="img-left"/>-->
                           <!--</div>-->
                       <!--</a>-->
                   <!--</div>-->
               <!--</div>-->

           </div>
       </div>

   </div>
</div>