<div class="ui grid one stackable column blog post">
    <div class="row">
        <div class="column">
            <h1 class="ui header">Blog</h1>
            <h2 class="ui header">{{ data.title }}</h2>
        </div>
    </div>
    <div class="thirteen wide column">

        <h4 style="font-style: italic;">{{ data.datePublished | asDate | date:'MMMM dd, yyyy' }}</h4>
        <div ng-bind-html="content"></div>
        <hr/>
    </div>
    <div class="three wide column tags">
        <p style="font-weight: bold; font-size: 1.05em; margin-top: -1em;">Filed under:</p>
        <p><span ng-repeat="tag in data.tags"><a href="#/blog?tag={{tag}}">{{ tag }}</a>{{$last ? ' ' : ', '}}</span></p>
    </div>
</div>
