<div style="position: relative;" class="resume">
    <h1 class="ui header">Résumé</h1>

    <img style="right: 0; max-width: 8rem; position: absolute; padding-top: 1rem;" src="{{data.basics.picture}}" alt=""/>

    <div class="basics ui two column doubling grid">
        <div class="column">
            <h2 style="margin-bottom: .15em; color: #3491dc;" class="ui header">{{data.basics.name}}</h2>
            <h3 style="margin: .15em 0 .25em; font-style: italic; font-weight: 600; color: #777;" class="ui header">{{data.basics.label}}</h3>
            <p style="margin-top: .2em"><a href="mailto:{{data.basics.email}}?subject=Your Resume">{{data.basics.email}}</a></p>
        </div>

        <div class="profiles column">
            <h2 class="ui header">Profiles</h2>
            <ul>
                <li ng-repeat="profile in data.basics.profiles"><a href="{{profile.url}}"><i class="{{profile.network|lowercase}} sign icon"></i>{{ profile.network }}</a></li>
            </ul>
        </div>

    </div>


    <div class="work">
        <div class="ui two column doubling grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Work</h2>
                </div>
            </div>
            <div ng-repeat="job in data.work | orderByDate:'endDate':true" class="column">
                <h3>{{job.position}} - <a href="{{job.website}}">{{job.company}}</a></h3>
                <h4 style="font-style: italic;">{{ job.startDate | asDate | date:'MMMM yyyy' }} - {{ job.endDate != 'Present' ? (job.endDate | asDate | date:'MMMM yyyy') : 'Present' }}</h4>
                <p>{{ job.summary }}</p>
                <h4 class="ui header">Highlights:</h4>
                <ul>
                    <li ng-repeat="highlight in job.highlights">
                        <span ng-if="!highlight.value">{{ highlight }}</span>
                        <span ng-if="highlight.value">{{ highlight.value }}</span>
                        <ol>
                            <li ng-repeat="subhighlight in highlight.data">{{ subhighlight }}</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="volunteer">
        <div class="ui two column doubling grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Volunteering</h2>
                </div>
            </div>
            <div ng-repeat="engagement in data.volunteer | orderByDate:'endDate':true" class="column">
                <h3>{{engagement.position}} - <a href="{{engagement.website}}">{{engagement.organization}}</a></h3>
                <h4 style="font-style: italic;">{{ engagement.startDate | asDate | date:'MMMM yyyy' }} - {{ engagement.endDate != 'Present' ? (engagement.endDate | asDate | date:'MMMM yyyy') : 'Present' }}</h4>
                <p>{{ engagement.summary }}</p>
                <h4 class="ui header">Highlights:</h4>
                <ul>
                    <li ng-repeat="highlight in engagement.highlights">
                        <span ng-if="!highlight.value">{{ highlight }}</span>
                        <span ng-if="highlight.value">{{ highlight.value }}</span>
                        <ol>
                            <li ng-repeat="subhighlight in highlight.data">{{ subhighlight }}</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="education">
        <div class="ui two column doubling grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Education</h2>
                </div>
            </div>
            <div ng-repeat="school in data.education | orderByDate:'endDate':true" class="column">
                <h3>{{school.institution}}</h3>

                <h4 style="font-style: italic;">{{ school.startDate | asDate | date:'MMMM yyyy' }} - {{ school.endDate != 'Present' ? (school.endDate | asDate | date:'MMMM yyyy') : 'Present' }}</h4>
                <p>{{ school.studyType ? school.studyType + ' in ' + school.area : school.area }}</p>
                <h4 class="ui header">Courses:</h4>
                <ul>
                    <li ng-repeat="course in school.courses">{{ course }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="skills">
        <div class="ui four column doubling grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Skills</h2>
                </div>
            </div>
            <div ng-repeat="skill in data.skills | orderBy:'level':true" class="column">
                <h3 class="ui header">{{ skill.name }}</h3>
                <ul>
                    <li ng-repeat="keyword in skill.keywords | orderBy:'toString()'">{{ keyword }}</li>
                </ul>
            </div>
        </div>

    </div>
</div>
{{ data }}