<!DOCTYPE html>
<html ng-app="joshuathehutt">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="google-site-verification" content="olf5rk8rYODNcUs2FoI9PXZZq_wC7XqbYy5wPtmPF8E" /> 
    <title>Joshua Hutt | Entrepreneur, Software Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="bower_components/semantic-ui/build/packaged/css/semantic.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-controller="MainCtrl" ng-keyup="keyPress($event)" class="ui page grid">

    <h1 class="ui header" style="padding-top: 24px;">
        <a href="#!/home" ng-click="setPage('home')"><img src="img/logo-801.png" alt="" style="height: 2em; padding-right: .25em;"/></a>
        <div class="content">
            <a href="#!/home" ng-click="setPage('home')">Joshua Hutt</a>
            <div class="sub header">Entrepreneur, Software Developer</div>
        </div>
    </h1>

    <div class="ui menu">
        <a ng-repeat="page in pageList | orderBy: page.id : reverse" class="item" ng-class="{active: isActive(page)}" ng-click="setPage(page)" href="#!/{{page.shortName}}"><i class="icon {{ page.icon }}"></i> <span ng-bind="page.name"></span></a>
    </div>

    <div ng-view class="main-view"></div>

    <div class="ui grid">
        <div class="sixteen wide column">
            <p style="text-align: center; font-style: italic; color: #999;">Copyright &copy; <span ng-bind="getDate() | date:'yyyy'">2016</span>, Joshua Hutt</p>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-34368030-4', 'auto');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
    </script>

    <script>
        (function() {
            // DON'T EDIT BELOW THIS LINE
            var d = document,
                    s = d.createElement('script');
            s.src = '//joshuahutt.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularitics/dist/angulartics.min.js"></script>
    <script src="bower_components/angularitics/dist/angulartics-ga.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-encode-uri/dist/angular-encode-uri.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
    <script src="js/app.js"></script>
    <script id="dsq-count-scr" src="//joshuahutt.disqus.com/count.js" async></script>
</body>
</html>
